@import "../../../styles.scss";

h1 {
    @include styleFont(32px, normal, bold, 36px, 0, $black-color);
    text-align: center;
}

input, select {
    border: 0.5px solid $color-input;
    border-radius: 5px;
    width: 100%;
    height: 58px;
    padding-left: 0 2em 0 2em;
}

.btn-active:focus, .btn-pending:focus {
    box-shadow: none;
}

input::placeholder {
    font-family: 'Aileron';
    @include styleFont(16px, normal, normal, 24px, 0.1px, $placeholder-text);
}

.form-search::placeholder {
    @include backImage(center, left, '../../../assets/images/icons/search.png');
    padding: 2em;
}

.filter-select {
    height: 40px;
    @include blendInputs($white-color, normal, $shadow, 5px);
    color: $placeholder-text;
    padding-left: 1rem;
    font-size: 12px;
    option {
        font-size: 12px;
    }
    &::placeholder {
        font-size: 12px;
    }
}

.datepicker {
    @include backImage(center, 0.5em, '../../../assets/images/icons/calendar.png');
    padding: 0 1em 0 2em;
    &::-webkit-calendar-picker-indicator { 
        @include backImage(center, "", "../../../assets/images/icons/key_arrow.png");
    }
    &:hover {
        cursor: pointer;
    }
}

select {
    @include backImage(center, "", '../../../assets/images/icons/key_arrow.png');
    &:hover {
        cursor: pointer;
    }
}

.btn-new {
    @include blendInputs($primary-color, "", $shadow, 5px);
    color: $white-color;
    height: 58px;
}

.btn-filter {
    @include styleFont(16px, normal, normal, 20px, 0.25px, $color-filter);
    background-color: $color-button-default;
    height: 58px;
}

/* load image to button */
.b-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    background-color: transparent;
}

.btn-new:before {
    @include backImage(center, center, '../../../assets/images/icons/add.png');
}

.btn-filter:before {
    @include backImage(center, center, '../../../assets/images/icons/filter.png');
}

.bg-container {
    @include blendInputs($white-color, normal, $shadow, 5px);
    background: $white-color;
    padding: 0 2% 0 2%;
}

.title {
    padding: 3% 4%;
    div {
        @include styleFont(16px, normal, bold, 20px, 0.25px, $black-color);
    }
}

.dot-active {
    @include dot(5px, 5px, $color-active)
}

.dot-pending {
    @include dot(5px, 5px, $color-pending)
}

.btn-options {
    @include backImage(center, center, "../../../assets/images/icons/points.png");
    height: 35px;
    text-align: center;
}

.row-grid {
    padding: 3% 3%;
    margin-bottom: 3%;
    background-color: $layout-color;
    div {
        @include styleFont(14px, normal, normal, 24px, 0.1px, $color-letter);
        align-self: center;
    }
}

.dropdown-menu {
    padding: 0.5em 1em;
    @include blendInputs($white-color, normal, $shadow, 5px);
    li {
        padding: 0.5em 0 0.5em 0;
        margin-right: 0 1em 0 1em;
        border-bottom: 1px solid #EBEBEB;
    }
    li a {
        padding-left: 2em;
    }
    .non-border {
        border: none;
    }
}

.a-edit {
    @include backImage(center, left, "../../../assets/images/icons/edit.png");
}

.a-delete {
    @include backImage(center, left, "../../../assets/images/icons/delete.png");
}

.a-sign {
    @include backImage(center, left, "../../../assets/images/icons/sing.png");
}

.a-summary {
    @include backImage(center, left, "../../../assets/images/icons/document.png");
}