@import "../../styles.scss";

.navbar {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    background-color: $white-color;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-item {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    color: $secondary-color;
    .nav-link {
        padding: 2em 0 0 0;
        height: 100px;
        text-align: center;
    }

    .active {
        color: $primary-color;
    }

    img {
        padding: 5px;
    }

    #contract {
        @include backImage(center, 1rem, "../../assets/images/icons/user.png");
    }

    #document {
        @include backImage(center, 1rem, "../../assets/images/icons/document.png");
    }

    #card {
        @include backImage(center, 1rem, "../../assets/images/icons/card.png");
    }

    #calendar {
        @include backImage(center, 1rem, "../../assets/images/icons/calendar.png");
    }
}

.login-logo::after {
    content: "";
    background: #C4C4C4;
    position: absolute;
    bottom: 15%;
    left: 0;
    height: 45px;
    width: 1px;
}

.nav-link::after{
    content:'';display:block;
    width:0px;
    height:6px;
    background: $primary-color;
    transition: 0.2s;
    transform: translateY(2.1rem);
}

.nav-link:hover::after {width:100%;}
.nav-link:hover {
    color: $primary-color !important;
}

.active::after {
    width: 100%;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media (max-width: 991px) {
    .navbar {
        padding: 0.5rem;
    }
}