/* You can add global styles to this file, and also import other style files */

/*variables*/
$primary-color: #ff5a70;
$secondary-color: #898989;
$white-color: #ffffff;
$layout-color: #f9f9f9;
$black-color: #000000;
$color-input: #989b9b;
$placeholder-text: #c4c4c4;
$color-filter: #1c0b11;
$color-button-default: #ebebeb;
$color-letter: #3b3b3b;
$bgcolor-active: rgba(54, 207, 130, 0.18);
$color-active: #36cf82;
$bgcolor-pending: rgba(242, 157, 66, 0.3);
$color-pending: #f29d42;
$shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

/* create dots */
@mixin dot($height, $width, $color) {
  height: $height;
  width: $width;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  background-color: $color;
}

/* custom fonts-styles */
@mixin styleFont($size, $style, $weight, $l-height, $l-spacing, $color) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $l-height;
  letter-spacing: $l-spacing;
  color: $color;
}

/* add background-image */
@mixin backImage($bgpositiony, $bgpositionx, $bgimage) {
  background-position-y: $bgpositiony;
  background-position-x: $bgpositionx;
  background-image: url($bgimage);
  background-repeat: no-repeat;
}

/* style inputs */
@mixin blendInputs($color, $blend, $shadow, $radius) {
  background-color: $color;
  mix-blend-mode: $blend;
  box-shadow: $shadow;
  border-radius: $radius;
}

body {
  background-color: $layout-color !important;
}

.container {
  max-width: 1440px;
}

.container-section {
  font-family: "Aileron";
  background-color: $layout-color;
  padding: 5% 3%;
}

.limit-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* buttons */
.btn-active {
  background: $bgcolor-active;
  @include styleFont(10px, normal, normal, 12px, 0, $color-active);
  border-radius: 20px;
  text-align: left;
}

.btn-pending {
  background: $bgcolor-pending;
  border-radius: 20px;
  @include styleFont(10px, normal, normal, 12px, 0, $color-pending);
  text-align: left;
}

.row-grid-mobile {
  @include blendInputs($white-color, normal, $shadow, 5px);
  background: $white-color;
  padding: 10px;
  div {
    @include styleFont(12px, normal, normal, 24px, 0.1px, $color-letter);
  }
  .row .t {
    @include styleFont(12px, normal, bold, 24px, 0.1px, $black-color);
  }
  .row div {
    text-align: left !important;
    padding: 0.9em 0 0.9em 2em;
  }
  .row:nth-child(odd) {
    background-color: $layout-color;
  }
  .btn-pending {
    @include styleFont(8px, normal, normal, 10px, 0, $color-pending);
  }
  .btn-active {
    @include styleFont(8px, normal, normal, 8px, 0, $color-active);
  }
}

/* fonts */

@font-face {
  font-family: "Aileron";
  src: url(./assets/fonts/Aileron-Regular.otf);
}

html,
body {
  height: 100%;
}

@media (max-width: 992px) {
  .bg-container {
    background: none;
    box-shadow: initial;
  }

  .btn-options {
    transform: rotate(90deg);
    margin-left: 0.5rem;
  }
}
